<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
  <title>Ask Ubuntu Overflow</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div layout:fragment="content">
  <div class="container" id="questionDetails">
    <div id="recommendations" class="col-md-12 bg-success" th:if="${not #lists.isEmpty(recommendations)}">
      <h1>Thank you!</h1>
      <p>Thank you for contributing to our community. Since you are so knowledgeable, please consider answering
        one of these other questions:</p>
      <div th:each="recommendedPost : ${recommendations}">
        <div><a class="bold" href="post/show.html" th:href="@{'/post/' + ${recommendedPost.id}}"
                th:text="${recommendedPost.title}"></a>
          <ul class="list-inline tags">
            Tags:
              <li th:each="recommendedPostTag : ${recommendedPost.tags}" th:text="${recommendedPostTag.tag}"></li>
          </ul>
        </div>
      </div>
    </div>
    <h1 th:text="${post.title}"></h1>
  </div>
  <div class="container">
    <div class="row" style="margin-bottom: 15px">
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-11">
            <ul class="list-inline tags">
              <li th:each="curTag : ${post.tags}" th:text="${curTag.tag}"></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-1 text-center" th:text="'Votes '+ ${post.voteCount}"></div>
          <div class="col-md-11">
            <div th:utext="${post.body}"></div>
            <div class="col-md-offset-9 askuser">
              <div
                  th:text="'asked ' + ${#dates.format(post.creationDate, 'MMM dd')} + ' \'' + ${#dates.format(post.creationDate, 'YY')} + ' at ' + ${#dates.format(post.creationDate, 'HH:mm')}">
              </div>
              <div th:text="${post.ownerUser.displayName}"></div>
            </div>
            <div class="comments" th:if="${#lists.size(post.comments)}">
              <div class="comment" th:each="comment : ${post.comments}">
                <div class="col-md-offset-1"
                     th:text="${comment.value} + ' - ' + ${comment.user.displayName} + ' ' + ${#dates.format(comment.creationDate, 'MMM dd')} + ' at ' + ${#dates.format(comment.creationDate, 'HH:mm')}">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <h1 class="col-md-12" th:text="${#lists.size(post.answers)} + ' Answers'" th:if="${#lists.size(post.answers)}"></h1>
          <div class="answers col-md-12">
            <div class="col-md-12" th:classappend="not ${answerStat.first}? 'answer'" th:each="answer : ${post.answers}"
                 th:if="${#lists.size(post.answers)}">
              <div class="col-md-1 text-center" th:text="'Votes:' + ${answer.voteCount}"></div>
              <div class="col-md-11">
                <div th:utext="${answer.body}"></div>
                <div class="col-md-offset-8 answeruser">
                  <div
                      th:text="'answered ' + ${#dates.format(answer.creationDate, 'MMM dd')} + ' \'' + ${#dates.format(answer.creationDate, 'YY')} + ' at ' + ${#dates.format(answer.creationDate, 'HH:mm')}">
                  </div>
                  <div th:text="${answer.ownerUser.displayName}"></div>
                </div>
                <div th:if="${#lists.size(answer.comments)}">
                  <div class="comment" th:each="comment : ${answer.comments}">
                    <div class="col-md-offset-1"
                         th:text="${comment.value} + ' - ' + ${comment.user.displayName} + ' ' + ${#dates.format(comment.creationDate, 'MMM dd')} + ' at ' + ${#dates.format(comment.creationDate, 'HH:mm')}">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12" sec:authorize="hasRole('ROLE_AUTHENTICATED')" id="yourAnswer">
            <h1>Your Answer</h1>
            <div>
              <link href="/summernote/summernote-lite.css" rel="stylesheet">
              <script src="/summernote/summernote-lite.js"></script>
              <form method="post" id="answerForm" action="index.html" th:action="@{/post/save}">
                <textarea id="summernote" name="body"></textarea>
                <input type="hidden" name="postId" id="postId" th:value="${post.id}"/>
                <input id="submit" type="submit" class="btn" value="Post Your Answer"/>
              </form>
              <script>
                $(document).ready(function() {
                  $('#summernote').summernote();
                });
              </script>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>